/* CSS declarations go here */

body {
    font-family:Arial;
}

table{
    padding: 10px;
}

td {
    font-family:Arial;
    padding:10px;
    border:2px;
    border-style:solid;
}

td:empty {
    border:0px;
}

.square {    
    color:blue;
    }

.square input{
    font-family:Arial;
}

.result {
    color:green;
}

#left {
    cursor: pointer;
    display: inline;
    float: left;
    margin-top:20px;

    height: 100%;
    width: 100px;
}


#right {
    margin-top:20px;
    height: 100%;
    width:75%;
    display:inline;
    float:right;

}

.number {

    padding:5px;
    }

.tab {
    
    padding:3px;
}

.tab.selected {
    
    color: #0788B1;
    background-color:#efefef;
}

.notUsed {
    color: grey;
}

.used{
    color: black;
}

.overUsed{
    color: red;
}